.btn-primary {
  display: inline-block;
  text-decoration: none;
  background: none;
  border: 0.1rem solid var(--color-secondary);
  font-family: var(--font-style-bold);
  padding: 1.5rem 3rem;
  color: var(--text-color-light);
  transition: 0.25s;
  font-size: 1.8rem;
}

.btn-primary:hover,
.btn-primary:focus {
  box-shadow: inset 0 6rem 0 0 var(--color-secondary);
}
