:root {
  --color-primary: #090057;
  --color-secondary: #cb2e43;
  --text-color-light: #fff;
  --text-color-dark: #fff;
  --font-style-thin: 'Jost-Thin';
  --font-style-regular: 'Jost-Regular';
  --font-style-bold: 'Jost-Bold';
}

/* Basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Jost-Thin';
  src: url('./assets/fonts/Jost-Thin.ttf');
}

@font-face {
  font-family: 'Jost-Regular';
  src: url('./assets/fonts/Jost-Regular.ttf');
}

@font-face {
  font-family: 'Jost-Bold';
  src: url('./assets/fonts/Jost-Bold.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(0, 169, 157);
  background: linear-gradient(
    180deg,
    rgba(0, 169, 157, 1) 0%,
    rgba(247, 201, 52, 1) 34%,
    rgba(241, 60, 88, 1) 100%
  );
  border-radius: 50px; */
  background: var(--color-secondary);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #0b0d17;
} */

/* Modifier */
.heading-primary--red {
  background: var(--color-secondary);
  background: linear-gradient(
    to right,
    var(--color-secondary) 37%,
    #007bff 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mui-icon-with-text--alignment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Global */
.App {
  background: var(--color-primary);
}

.heading-primary {
  font-family: var(--font-style-bold);
  font-size: 7.3rem;
  text-transform: capitalize;
}

.heading-secondary {
  font-family: var(--font-style-bold);
  font-size: 4rem;
  text-transform: capitalize;
}

.paragraph-primary {
  font-family: var(--font-style-regular);
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 3rem 0;
}

html {
  scroll-behavior: smooth;
}

/* css media queries */
@media (max-width: 768px) {
  .heading-primary {
    font-size: 4.6rem;
  }
}
