.tab-primary {
  margin-top: 5rem;
}

.tab-primary__link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #007bff;
  background: var(--color-primary);
}

.tab-primary__link-box__link {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.4rem 2.3rem;
  background: var(--color-primary);
  color: var(--text-color-light);
  font-family: var(--font-style-regular);
  font-size: 2.4rem;
  transition: 0.5s;
  text-transform: capitalize;
}

.tab-primary__link-box__link:hover,
.tab-primary__link-box__link:focus {
  box-shadow: inset 0 7rem 0 0 var(--color-secondary);
}

.tab-primary__link-box__link.active {
  box-shadow: inset 0 7rem 0 0 var(--color-secondary);
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-primary__content {
  display: none;
  padding-top: 5rem;
  border: none;
  animation: fadeEffect 1s;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pagination-wrapper {
  margin-top: 1.5rem;
}

.btn-pagination {
  cursor: pointer;
  margin: 0 1rem;
  padding: 1.5rem 3rem;
  font-family: var(--font-style-bold);
  background: var(--color-primary);
  color: var(--text-color-light);
  border: 1px solid var(--color-secondary);
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.btn-pagination:hover {
  background-color: #ffffff1e;
}
